aside {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;

}

.aside-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 190px;
    height: auto;
    margin-top: 42px;
    row-gap: 1rem;

    a {
        display: flex;
        text-decoration: none;
        color: var(--color-menu-item);
        font-size: 1rem;
        padding: 0.5rem 2rem;
        border-radius: var(--button-radius);
        align-items: center;
        column-gap: 0.5rem;

        &:hover {
            background-color: var(--color-menu-hover);
            cursor: pointer;
        }

        &.active {
            background-color: var(--color-menu-active);
        }
    }
}

.aside-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 66px;
    gap: 1rem;

    a {
        display: flex;
        text-decoration: none;
        color: var(--color-menu-item);
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: var(--button-radius);
        align-items: center;
        column-gap: 0.5rem;
    }

}

@media (width <812px) {
    aside {
        display: none;
    }
}