.body-board {
    display: grid;
    min-height: 100vh;
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 3.75rem 1fr 3.75rem;
    grid-template-areas:
    "header"
    "main"
    "footer";
    overflow: hidden;
}

.add-task-btn {
    height: 3.125rem;
    width: 8.625rem;
    border: 0.0625rem solid var(--main-color);
    border-radius: 0.625rem;
    background-color: var(--main-color);
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 400;
    position: absolute;
    left: 25.75rem;
    top: 2.4375rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    & img {
        margin-left: 0.5rem;
        transform: scale(0.89);
    }

    &:hover {
        background-color: var(--color-primary-button-hover);
        cursor: pointer;
        transition: all 200ms;
        box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
    }

    &:active {
        transition: background-color 1ms ease;
        background-color: var(--color-active-button);
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    }
}

main {
    position: relative;
    grid-area: main;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    max-width: calc(1920px - 250px);
}

.src-container {
    display: flex;
    justify-content: center;
    height: 6.25rem;
    width: 100%;
    background-color: #ffffff;

}

.input-separator {
    height: 80%;
    width: 0.0625rem;
    background-color: var(--color-border-gray);
    margin-right: 0.5rem;
}

.input-container {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 90%;
    border-radius: 0.625rem;
    overflow: hidden;
    position: relative;
    border: 0.0625rem solid var(--color-border-gray);
    margin-top: 2.5rem;

    &:focus-within {
        border: 0.0625rem solid var(--main-color);
    }
}

.inp-src-icon {
    background: url(../assets/icons/search.svg) center center no-repeat;
    transform: scale(0.8);
    position: absolute;
    height: 100%;
    width: 3rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 0.0625rem solid var(--color-border-gray);
}

.inp-src-icon:hover {
    background: url(../assets/icons/search_hover.svg) center center no-repeat;
    cursor: pointer;
}

.inp-src-icon:active {
    background: url(../assets/icons/search_click.svg) center center no-repeat;
}

.section-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    overflow-y: auto;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

.task-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.calendar-date-picker-input::placeholder {
    color: var(--color-menu-text);
}

.input-container input[type="text"] {
    border: unset;
}

.task-title-desk-container {
    display: none;
}

.task-title-desk {
    width: 14.5rem;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.task-headline {
    font-weight: 700;
    font-size: 1.25rem;
}

.task-card-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0.5rem;
    overflow-x: auto;
    border-radius: 1rem;
    border: 0.125rem solid transparent;
}

.task-card-container-dragover {
    background-color: var(--color-light-gray);
    border: 0.125rem dashed var(--color-border-gray);
}

.task-card-wrapper {
    display: flex;
    gap: 1rem;
}

.d-none {
    display: none;
}

.no-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
    background-color: var(--color-no-tasks-bg);
    border-radius: 0.625rem;
    border: 0.0625rem dashed var(--color-no-tasks-border);
    color: var(--color-no-tasks-border);
}

.add-task-icon {
    background: url("../assets/icons/plus_button_default.svg") center center no-repeat;
    width: 1.5rem;
    height: 1.5rem;

    &:hover {
        cursor: pointer;
    }

    &:active {
        background: url("../assets/icons/plus_button_click.svg") center center no-repeat;
    }
}

.task-card {
    position: relative;
    min-width: 14rem;
    max-width: 14rem;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 0 0.625rem 0.1875rem rgba(0, 0, 0, 0.08);

    &:hover {
        cursor: pointer;
    }
}

.is-dragging {
    rotate: 5deg;
}

.empty-card {
    padding: 7rem;
    border-radius: 1.5rem;
    border: 0.0625rem dashed var(--color-no-tasks-border);
    box-shadow: inset 0 10px 20px 2px rgba(0, 0, 0, 0.5);
}

.card-headline {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}

.card-swap-icon {
    visibility: hidden;
    position: relative;
    width: 1.5rem;
    height: 1.625rem;
    border-radius: 0.375rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    background: var(--color-card-progress-bar-bg) url("../assets/icons/swap_horiz.svg") no-repeat center center;

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(0.95);
    }
}

.card-swap-dropdown {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 9.5rem;
    background-color: var(--main-color);
    border-radius: 1.25rem 0 1.25rem 1.25rem;
    overflow: hidden;
    padding-bottom: 0.5rem;
    animation: scaleInFromRight 100ms ease-out forwards;
    z-index: 100;

    &.open {
        display: flex;
        flex-direction: column;
    }

}

@keyframes scaleInFromRight {
    0% {
        transform: scaleX(0);
        transform-origin: 100% 100%;
    }

    100% {
        transform: scaleX(1);
        transform-origin: 100% 100%;
    }
}

h5 {
    color: var(--color-primary-button-click);
    margin-bottom: 0.5rem;
    padding: 1rem 1rem 0 1rem;
}

.move-to-do {
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    gap: 0.5rem;
    color: var(--color-primary-button-click);
    border-radius: var(--button-radius);
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
        color: var(--main-color);
        background-color: var(--color-menu-hover)
    }
}

.card-label {
    width: fit-content;
    padding: 0.25rem 0.75rem;
    border-radius: 0.75rem;
}

.card-bg-user-story {
    background-color: var(--color-variant1);
    color: white;
}

.card-bg-technical-task {
    background-color: var(--color-variant10);
    color: white;
}

.card-task-wrapper {
    flex: 1;
}

.card-task-title {
    display: -webkit-box;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 0.25rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-task-text {
    font-weight: 400;
    color: var(--color-border-gray);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    mask-image: linear-gradient(to right, black 90%, transparent 100%);
}

.card-progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 1.25rem;
    margin: 0.25rem 0;

}

.card-progress-bar {
    width: 50%;
    background-color: var(--color-card-progress-bar-bg);
    height: 50%;
    border-radius: 62.4375rem;
}

.card-sub-progress-bar {
    height: 100%;
    background-color: var(--main-color);
    border-radius: 62.4375rem;
}

#tasks-done {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-prio-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 2rem;
    width: 100%;
}

.marked-user-container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.marked-user-container:nth-child(2) {
    position: absolute;
    left: -0.25rem;
}

.marked-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    font-size: 0.75rem;
    border-radius: 50%;
    color: var(--color-primary-button-click);
    border: 0.0625rem solid var(--color-primary-button-click);
}

.marked-user-2 {
    position: absolute;
    left: 1.6rem;
}

.marked-user-3 {
    position: absolute;
    left: 3.15rem;
}

.marked-user-4 {
    position: absolute;
    left: 4.75rem;
}

.card-prio-icon {
    width: 2rem;
    height: 2rem;
}


.d-none {
    display: none;
}

button {
    display: none;
}

@media (width < 812px) {
    .src-container{
        position: fixed;
        z-index: 10;
    }

    .tasks-container {
        margin-top: 6.25rem;
    }

}



@media (width >= 812px) {
    .body-board {
        display: grid;
        height: 100vh;
        gap: 0;
        grid-template-columns: 250px 1fr;
        grid-template-rows: 6rem 1fr;
        grid-template-areas:
    "header header"
    "aside-desktop main";
        overflow: hidden;
    }

    button {
        display: block;
    }

    main {

        height: 100%;
    }

    .section-tasks {
        height: calc(100vh - 6rem - 6.25rem);
        overflow-y: auto;
        overflow-x: hidden;
    }

    .tasks-container {
        height: auto;
        overflow: visible;
    }

    .input-container {
        margin-left: 4rem;
        width: 18.75rem;
    }

    .src-container {
        height: 6.25rem;
        display: block;
    }

}

@media (width > 1349px) {
    .src-container {
        height: auto;
    }
}

@media (width >= 1350px) {
    .body-board {
        overflow: hidden;
    }

    main {
        overflow: hidden;
    }

    .section-tasks {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .task-card-container {
        flex-direction: column;
        width: 15.625rem;
        display: flex;
        align-items: center;
        overflow: visible;
        padding: 0.5rem 0;
    }

    .tasks-container {
        margin-left: 6.0625rem;
        height: auto;
        display: flex;
        flex-direction: row;
        width: 100%;
        column-gap: 1rem;
        overflow: visible;
    }

    .task-title {
        display: none;
    }

    .task-title-desk-container {
        width: 100%;
        display: flex;
        margin: 3rem 0 2rem 4rem;
        column-gap: 2rem;
    }

    .task-title-desk {
        display: flex;
    }
}