header {
  width: 100%;
  height: 3.75rem;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  color: #ffffff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);

  img {
    height: 2rem;
    width: auto;
  }
}

.avatar {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  background-color: #ffffff;
  color: var(--main-color);
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 700;
  border: 0.0625rem solid;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    background-color: rgb(240, 248, 255);
  }
}

label[for="slideInSideMenu"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.1875rem solid #ffffff;
}

#slideInSideMenu {
  display: none;
}

#slideInSideMenu:checked~.side-menu {
  transform: translateX(0);
}

#slideInSideMenu:not(:checked)~.side-menu {
  transform: translateX(200%);
}

.side-menu {
  position: fixed;
  border: none;
  background-color: #ffffff;
  z-index: 1001;
  right: 1.25rem;
  top: 3.25rem;
  border-radius: var(--border-rad-20) 0 var(--border-rad-20) var(--border-rad-20);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transform: translateX(200%);
  transition: transform 500ms ease-in-out;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.625rem;

  a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--main-color);
    padding: 0.25rem;

    &:hover {
      cursor: pointer;
      color: var(--main-color-secondary);
    }
  }
}

footer {
  width: 100%;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  background-color: #ffffff;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 -0.0625rem 0.375rem rgba(0, 0, 0, 0.1);

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--color-menu-item) !important;
    padding: 0;
    gap: 0.3125rem;

    &:hover {
      cursor: pointer;
      color: var(--main-color);
    }

    &:active {
      color: var(--main-color);
    }

    .active {
      span {
        color: var(--main-color) !important;
      }
    }
  }

  span {
    &.nav-text:not(.active):not(:hover) {
      color: var(--color-menu-item) !important;
    }

    &.nav-text.active {
      color: var(--main-color) !important;
    }

    font-size: 0.75rem !important;
    font-weight: 500 !important;
    line-height: 1 !important;
  }

  img {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.nav-item.active {
  color: var(--main-color);
}

@media (width >=50.75rem) {
  footer {
    display: none;
  }
}