html.loading,
body.loading {
  overflow: hidden;
}

html {
    display: flex;
    justify-content: center;
}

.body-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  max-width: 1920px;
  padding: 0 var(--padding-side);
  overflow: hidden;
  animation: backgroundFade 700ms ease-in-out forwards;
}

.logo-wrapper {
  position: fixed;
  top: 2%;
  left: 2%;
  width: 6.31rem;
  height: 7.63rem;
  z-index: 1000;
}

.logo-container {
  width: 100%;
  height: 100%;
  background: url("../assets/icons/logo-white.svg") center center no-repeat;
  background-size: contain;
  opacity: 1;
  animation: logoSlideIn 1s ease-in-out forwards;
}

@keyframes logoSlideIn {
  from {
    transform: translate(calc(50vw - 3.13rem), calc(50vh - 3.81rem)) scale(1.5);
  }

  to {
    transform: translate(0, 0) scale(0.5);
    background: url("../assets/icons/logo-blue.svg") center center no-repeat;
  }
}

@keyframes backgroundFade {
  0% {
    background-color: var(--main-color);
  }

  100% {
    background-color: #ffffff;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: loginFadeIn 500ms ease-in-out 700ms forwards;
  z-index: 10;
  width: 100%;
  height: 100%;
  flex: 1;
  margin-top: 4.5rem;
}

.login-card {
  background: white;
  border-radius: var(--main-radius);
  /* padding: 3.00rem 2.00rem; */
  box-shadow: 0 0 0.75rem 0.25rem rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 25rem;
  margin: 4.5rem 0 1.5rem;
  /* margin-bottom: 24px;
  margin-top: 72px; */
}

h2 {
  font-size: 2.50rem;
  font-weight: 700;
  margin-top: 1.25rem;
  color: #000;
  margin-bottom: 2.50rem;
  text-align: center;
  position: relative;
  opacity: 0;
  animation: loginFadeIn 500ms ease-in-out 700ms forwards;
}

.login-title::after {
  content: "";
  position: absolute;
  bottom: -0.50rem;
  left: 50%;
  transform: translateX(-50%);
  width: 5.63rem;
  height: 0.19rem;
  background: var(--main-color);
  border-radius: 0.13rem;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 2.50rem;
  margin-top: 1.25rem;
  border: none;
  position: relative;
}

span {
  width: 1.50rem;
  height: 1.50rem;
  position: absolute;
  right: 0.75rem;
}

.email-icon {
  background: url("../assets/icons/mail.svg") center center no-repeat;
  transform: scale(0.8);
}

.password-icon {
  background: url("../assets/icons/lock.svg") center center no-repeat;
  transform: scale(0.8);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 0.06rem solid var(--color-light-gray);
  padding: 0 0.75rem;

  &:focus {
    outline: none;
    border-bottom: 0.06rem solid var(--main-color);
  }

  &::placeholder {
    color: var(--color-light-gray);
  }
}

.user-email {
  background: url("../assets/icons/mail.svg") center center no-repeat;
  transform: scale(0.8);
}

.user-password {
  background: url("../assets/icons/lock.svg") center center no-repeat;
  transform: scale(0.8);
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: var(--main-radius);
  position: relative;
}

.btn-primary {
  width: 8.75rem;
  height: 2.50rem;
  background: var(--main-color);
  color: white;
  border: none;
  border-radius: var(--button-radius);
  cursor: pointer;
  margin: 2rem 0 1rem 0;
  transition: background-color 0.2s ease;
}

.btn-primary:hover {
  background: var(--color-primary-button-hover);
}

.btn-secondary {
  width: 8.75rem;
  height: 2.50rem;
  background: white;
  color: #000;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--button-radius);
  cursor: pointer;
  transition: border-color 0.2s ease;
  margin-bottom: 2rem;
}

.btn-secondary:hover {
  border-color: var(--main-color);
}

.signup-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.00rem;
  margin-bottom: 2.00rem;
}

.btn-signup {
  padding: 0.63rem 1.00rem;
  background: var(--main-color);
  color: white;
  border: none;
  border-radius: var(--button-radius);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-signup:hover {
  background: var(--color-primary-button-hover);
}

footer {
  width: 100%;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  color: white;
  margin-top: 2.50rem;

  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.88rem;
    margin-bottom: 2rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.legal-link {
  font-size: 0.88rem;
  color: var(--color-light-gray);
  text-decoration: none;
  transition: color 0.2s ease;
}

.legal-link:hover {
  color: var(--main-color);
}

@keyframes loginFadeIn {
  0% {
    opacity: 0;
    transform: translateY(1.25rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: fixed;
  padding: 2.00rem;
}