.body-signup {
    background-color: var(--main-color);
    position: relative;
    padding: 0 var(--padding-side);
}

main {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 72px;
    max-width: 550px;
}

.logo-container-signup {
    width: 101px;
    height: 122px;
    display: flex;
    position: absolute;
    top: 2%;
    left: 2%;
    background: url("../assets/icons/logo-white.svg") center center no-repeat;
    transform: scale(0.5);
}

form {
    margin-top: 72px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: var(--main-radius);
    position: relative;
}

h2 {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 32px;
    position: relative;
}

h2::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 3px;
    background: var(--main-color);
    border-radius: 2px;
}

.back-arrow-signup {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    left: 28px;
    top: 8px;
    background: url("../assets/login_signup_icons/arrow-left-line.svg") center center no-repeat;
    transform: scale(0.75);
    cursor: pointer;

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(0.9);
        border-radius: 50%;
        background-color: #E3EEFF;
    }
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 40px;
    margin-top: 20px;
    border: none;
    position: relative;
}

span {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 12px;
}

.user-name {
    background: url("../assets/login_signup_icons/person.svg") center center no-repeat;
    transform: scale(0.8);
}

.user-email {
    background: url("../assets/login_signup_icons/mail.svg") center center no-repeat;
    transform: scale(0.8);
}

.user-password {
    background: url("../assets/login_signup_icons/lock.svg") center center no-repeat;
    transform: scale(0.8);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid var(--color-light-gray);
    padding: 0 12px;

    &:focus {
        outline: none;
        border-bottom: 1px solid var(--main-color);
    }

    &::placeholder {
        color: var(--color-light-gray);
    }
}

.pw-not-matching {
    margin-top: 4px;
    width: 90%;
    height: 12px;
    font-size: 10px;
    color: red;
    visibility: hidden;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 8px;
    font-size: 12px;
    color: #42526e;

    a {
        color: var(--main-color);
        text-decoration: none;
    }
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

button[type="submit"] {
    margin: 32px 0;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: var(--button-radius);
    background-color: var(--main-color);
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        background-color: var(--color-primary-button-hover);
    }
}

footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    margin-top: 40px;

    a {
        color: #ffffff;
        text-decoration: none;
        font-size: 12px;

        &:hover {
            cursor: pointer;
        }
    }
}

.signed-up-container {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.signed-up-text {
    position: absolute;
    z-index: 10;
    border-radius: var(--button-radius);
    padding: 24px 16px;
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    top: 50%;
    left: 50%;
    color: whitesmoke;
    opacity: 0;
    transform: translate(-50%, 60%);
    animation: slideIn 500ms ease forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}