:root {
    --main-color: #4589FF;
    --color-default: #6E52FF;
    --color-variant1: #FF7A00;
    --color-variant2: #FF5EB3;
    --color-variant3: #9327FF;
    --color-variant4: #00BEE8;
    --color-variant5: #1FD7C1;
    --color-variant6: #FF745E;
    --color-variant7: #FFA35E;
    --color-variant8: #FC71FF;
    --color-variant9: #FFC701;
    --color-variant10: #0038FF;
    --color-variant11: #C3FF2B;
    --color-variant12: #FFE62B;
    --color-variant13: #FF4646;
    --color-variant14: #FFBB2B;
    --color-primary-button-hover: #005DFF;
    --color-primary-button-click: #FFFFFF;  
    --color-menu-active: #D2E3FF;
    --color-menu-hover: #E3EEFF;
    --color-priority-urgent: #FF3D00;
    --color-priority-medium: #FFA800;
    --color-priority-low: #7AE229;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-color);
    transition: background-color 700ms ease-in;
}

.logo-container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: top 700ms ease-in, left 700ms ease-in, scale 700ms ease-in, transform 700ms ease-in, invert 700ms ease-in;
}

.logo-fixed {
    top: 2%;
    left: 2%;
    transform: translate(0%, 0%) scale(0.5);
}