:root {
  --main-color: #4589ff;
  --color-default: #6e52ff;
  --color-variant1: #ff7a00;
  --color-variant2: #ff5eb3;
  --color-variant3: #9327ff;
  --color-variant4: #00bee8;
  --color-variant5: #1fd7c1;
  --color-variant6: #ff745e;
  --color-variant7: #ffa35e;
  --color-variant8: #fc71ff;
  --color-variant9: #ffc701;
  --color-variant10: #0038ff;
  --color-variant11: #c3ff2b;
  --color-variant12: #ffe62b;
  --color-variant13: #ff4646;
  --color-variant14: #ffbb2b;
  --color-primary-button-hover: #005dff;
  --color-primary-button-click: #ffffff;
  --color-menu-active: #d2e3ff;
  --color-menu-hover: #e3eeff;
  --color-priority-urgent: #ff3d00;
  --color-priority-medium: #ffa800;
  --color-priority-low: #7ae229;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-color);
  transition: background-color 700ms ease-in;
  
}

.logo-container {
  background: url("./assets/icons/logo-white.svg") center center no-repeat;
  background-size: contain;

  width: 150px;
  height: 150px;

  -webkit-transition: all 700ms ease-in-out;
  -moz-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;

  display: flex;
  position: fixed;
}

.logo-fixed {
  background: url("./assets/icons/logo-blue.svg") center center no-repeat;
  background-size: contain;
  animation: logoSlideIn 700ms ease-in-out forwards;
}

/* Keyframe Animations */
@keyframes logoSlideIn {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    top: 2%;
    left: 2%;
    transform: translate(0%, 0%) scale(0.5);
  }
}

@keyframes backgroundFade {
  0% {
    background-color: var(--main-color);
  }
  100% {
    background-color: #ffffff;
  }
}